@media (max-width: 768px){
  nav ul
  {
    display: none;
    position: absolute;
    top: 8vh;
    left: 0;
    background-color: tan;
    width: 100%;
    text-align: center;
  }  
  nav ul li 
  {
    padding: 10px;
  }
  nav input[type="checkbox"]
  {
    display: block;
  }
  nav label
  {
    display: block;
  }
  nav input [type="checkbox"]:checked~ul
  {
    display: block;
  }
}
  